<div>
  <label>Please input your brand name:</label>
  <input type="text" [(ngModel)]="brandName"/>
  <label>please input the price:</label>
  <input type="text" [(ngModel)]="price"/>



  <div class="row col-xs-12">
    <button class="button button-neutral" (click)="saveNewBrand()">New Brand</button>
  </div>

  <div class="row col-xs-12">
      <button class="button button-neutral" (click)="getAllBrands()">Print all bands at console</button>
  </div>
  <p>{{ brands }}</p>
  <hr>

  <div class="row col-xs-12">
      <app-location-item></app-location-item>
  </div>

</div> 
