<!--<div>
    demo works!

    <div class="example-1">
        <p *ngIf="isValid">this is example 1</p>
        <p *ngIf="false">this is example 2</p>
    </div>

    <div class="example-2" *ngFor="let num of numbers">
        <h1 *ngIf="num % 2 == 0">
            {{ num }}
        </h1>
    </div>

    <div class="example-3" *ngFor="let u of universities">
        <label class="row">University Name: {{ u.name }}</label>
        <label class="row">University ZipCode: {{ u.zipCode }}</label>
    </div>

    <div class="example-4">
        <!-- next time self define directive 
        <p *ngSwitchCase="5">Value is 5</p>
    </div>

    <div class="example-5">
        KEEP IT OR NOT:
        <input type="checkbox" [(ngModel)]="myVar" *ngInit="myVar = true">
        <div *ngIf="myVar">
            <h1>Welcome</h1>
            <p>Welcome to my home.</p>
            <hr>
        </div>
    </div>

    <div class="example-6" *ngFor="let num of numbers">
        <h1 *ngIf="num % 2 !== 0">
            {{ num }}
        </h1>
    </div>

    <div class="example-7">
        <p *ngIf="Invaild">Nice to meet you</p>
    </div>

    <div class="example-8" *ngFor="let u of universities">
        <label class="row">University state: {{ u.state }}</label>
    </div>


    <div class="example-9" *ngFor="let hero of heroes">
        {{ hero }}
    </div>

    <div  class="example-10" [ngSwitch]="'viewMode'">
      <template [ngSwitchCase]="'map'" ngSwitchDefault> 
      University map 
      </template>      
      <template [ngSwitchCase]="'list'"> 
      student list
      </template>
    </div>


    
        <ng-template #loginT> ZhouZhou </ng-template>
        <ng-template #logoutT>Please sign in</ng-template>
    </div>
</div>>-->