<!-- When this element is clicked, hide the tooltip -->
<div id="main"  ng-controller="InlineEditorController" (click)="hideTooltip()">

  <!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
  <div class="tooltip" (click)="$event.stopPropagation()" *ngIf="showtooltip">

      <!-- ng-model binds the contents of the text field with the "value" model.
       Any changes to the text field will automatically update the value, and
       all other bindings on the page that depend on it.  -->
      <input type="text"[(ngModel)]="value" />
  </div>

  <!-- Call a method defined in the InlineEditorController that toggles
   the showtooltip variable -->
  <p (click)="toggleTooltip($event)">{{value}}</p>

</div>